body {
    background-color: #1d1d20
}

nav {
    color: #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 1.5rem;
}

.leftNav img {
    height: 1.8rem;
}

.toggle_btn{
    display: none;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    color: #d1d1d1;
}

.download-resume {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    padding-left: 12px;
    width: 135px;
    border-style: solid;
    border-color: black;
    font: bold;
}

a {
    text-decoration: none;
    color: #d1d1d1;
}

.download-resume:hover {
    background-color: #d1d1d1;
    color: #1d1d20;
    cursor: pointer;

}

.right img {
    height: 500px;
}
h1{
    font-size: 4rem;
}
.hi{
    font-size: 4rem;
    word-spacing: 15px;
    font-family: sans-serif
}
.name{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fd2155; 
}

/* RESPONSIVE DESING */

@media (max-width: 920px){
    
}

